In [1]:
#Calibrate LinkedIn Data Analysis

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import seaborn as sns

In [5]:
df = pd.read_csv('dux-soup-visit-data@2021-03-08 12h05.csv')

In [6]:
df

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,CompanyWebsite,Email,Phone,IM,Twitter,Location,Industry,My Tags,My Notes,Unnamed: 24
0,id.223754971,2021/02/18 12:23:01,https://www.linkedin.com/in/claire-mercer-9b7b...,https://www.linkedin.com/sales/people/ACwAAA1W...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,3,Claire,,Mercer,323,...,http://www.nhs.uk/,,,,,"Sutton Coldfield, England, United Kingdom",Hospital & Health Care,🦆-default-invited,NaN,NaN
1,id.54293556,2021/02/18 12:25:52,https://www.linkedin.com/in/michelle-hurley-a7...,https://www.linkedin.com/sales/people/ACwAAAM8...,,3,Michelle,,Hurley,423,...,,,,,,"Swadlincote, England, United Kingdom",Hospital & Health Care,🦆-default-invited,NaN,NaN
2,id.244167899,2021/02/18 12:27:15,https://www.linkedin.com/in/julie-howard-a4b93069,https://www.linkedin.com/sales/people/ACwAAA6N...,https://media-exp1.licdn.com/dms/image/C5603AQ...,3,Julie,,Howard,409,...,http://www.nhs.uk/,,,,,"Wakefield, England, United Kingdom","Health, Wellness and Fitness",🦆-default-invited,NaN,NaN
3,id.254333992,2021/02/18 12:28:39,https://www.linkedin.com/in/liz-thompson-03421471,https://www.linkedin.com/sales/people/ACwAAA8o...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,3,Liz,,Thompson,162,...,http://www.nhs.uk/,,,,,"Brookhouse, England, United Kingdom",Hospital & Health Care,🦆-default-invited,NaN,NaN
4,id.472208772,2021/02/18 12:31:27,https://www.linkedin.com/in/shona-wragg-b70184112,https://www.linkedin.com/sales/people/ACwAABwl...,https://media-exp1.licdn.com/dms/image/C5603AQ...,3,Shona,,Wragg,109,...,,,,,,Greater Sheffield Area,"Health, Wellness and Fitness",🦆-default-invited,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,id.836507188,2021/03/08 10:41:08,https://www.linkedin.com/in/liz-moreton-9841891b4,https://www.linkedin.com/sales/people/ACwAADHc...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,2,Liz,,Moreton,167,...,http://lincolnshireeastccg.nhs.uk,,,,,"Stoke-on-Trent, England, United Kingdom",Medical Practice,NaN,NaN,NaN
663,id.100614872,2021/03/08 10:44:17,https://www.linkedin.com/in/claire-rackham-248...,https://www.linkedin.com/sales/people/ACwAAAX_...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,3,Claire,,Rackham,161,...,http://www.nhs.uk/,,,,,Greater Southampton Area,Hospital & Health Care,|🦆-default-invited,NaN,NaN
664,id.74025434,2021/03/08 10:46:54,https://www.linkedin.com/in/pawan-gill-96295a20,https://www.linkedin.com/sales/people/ACwAAARp...,,2,Pawan,,Gill,1172,...,http://www.cqc.org.uk,,,,,"London, England, United Kingdom",Medical Practice,NaN,NaN,NaN
665,id.572986507,2021/03/08 10:50:10,https://www.linkedin.com/in/leanne-bailey-4b7a...,https://www.linkedin.com/sales/people/ACwAACIn...,https://media-exp1.licdn.com/dms/image/C5603AQ...,2,Leanne,,Bailey,451,...,http://lincolnshireeastccg.nhs.uk,,,,,United Kingdom,Hospital & Health Care,NaN,NaN,NaN
666,id.449433291,2021/03/08 10:55:32,https://www.linkedin.com/in/luke-savage-863620106,https://www.linkedin.com/sales/people/ACwAABrJ...,https://media-exp1.licdn.com/dms/image/C5603AQ...,3,Luke,,Savage,9,...,http://www.enherts-tr.nhs.uk/,,,,,"Milton Keynes, England, United Kingdom",Hospital & Health Care,|🦆-default-invited,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              667 non-null    object
 1   VisitTime       667 non-null    object
 2   Profile         667 non-null    object
 3   SalesProfile    667 non-null    object
 4   Picture         667 non-null    object
 5   Degree          667 non-null    int64
 6   First Name      667 non-null    object
 7   Middle Name     667 non-null    object
 8   Last Name       667 non-null    object
 9   Connections     667 non-null    int64
 10  Summary         667 non-null    object
 11  From            667 non-null    object
 12  Title           667 non-null    object
 13  Company         667 non-null    object
 14  CompanyProfile  667 non-null    object
 15  CompanyWebsite  667 non-null    object
 16  Email           667 non-null    object
 17  Phone           667 non-null    object
 18  IM              667 non-null    object
 19  Twitter         667 non-null    object
 20  Location        667 non-null    object
 21  Industry        667 non-null    object
 22  My Tags         663 non-null    object
 23  My Notes        0 non-null      float64
 24  Unnamed: 24     0 non-null      float64
dtypes: float64(2), int64(2), object(21)
memory usage: 130.4+ KB

In [8]:
df.sample()

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,CompanyWebsite,Email,Phone,IM,Twitter,Location,Industry,My Tags,My Notes,Unnamed: 24
660,id.316077005,2021/03/05 14:25:00,https://www.linkedin.com/in/melanie-jones-b25a...,https://www.linkedin.com/sales/people/ACwAABLW...,,3,Melanie,,Jones,38,...,,,,,,"Manchester Area, United Kingdom",Hospital & Health Care,|🦆-default-invited,NaN,NaN

In [18]:
First=df['Degree']==1

In [19]:
First

0      False
1      False
2      False
3      False
4      False
       ...
662    False
663    False
664    False
665    False
666    False
Name: Degree, Length: 667, dtype: bool

In [20]:
first=df[First]

In [21]:
first

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,CompanyWebsite,Email,Phone,IM,Twitter,Location,Industry,My Tags,My Notes,Unnamed: 24
393,id.319734884,2021/03/02 14:02:58,https://www.linkedin.com/in/erin-jewitt-9180b38b,https://www.linkedin.com/sales/people/ACwAABMO...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Erin,,Jewitt,155,...,http://myhealth.net.au/,erinlj2008@hotmail.com,,,,Greater Brisbane Area,Medical Practice,Sent Vaccine Fridges Blog,NaN,NaN
394,id.644200396,2021/03/02 14:03:47,https://www.linkedin.com/in/susan-soe-1a48a915b,https://www.linkedin.com/sales/people/ACwAACZl...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Susan,,Soe,357,...,,susan.soe@nhs.net,,,,"London, England, United Kingdom",Hospital & Health Care,Sent Vaccine Fridges Blog,NaN,NaN
395,id.325914485,2021/03/02 14:48:16,https://www.linkedin.com/in/sandra-bell-b0519391,https://www.linkedin.com/sales/people/ACwAABNt...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,1,Sandra,,Bell,1224,...,,sandraebell@hotmail.com,,,,"Basildon, England, United Kingdom",Medical Practice,Sent Vaccine Fridges Blog,NaN,NaN
396,id.741507967,2021/03/02 14:51:24,https://www.linkedin.com/in/caron-bowey-4a73b5188,https://www.linkedin.com/sales/people/ACwAACwy...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Caron,,Bowey,602,...,,caron.bowey@gmail.com,,,,Tyneside Area,Hospital & Health Care,Sent Vaccine Fridges Blog,NaN,NaN
397,id.351087532,2021/03/02 14:52:45,https://www.linkedin.com/in/suzanne-robson-7a4...,https://www.linkedin.com/sales/people/ACwAABTt...,,1,Suzanne,,Robson,369,...,,suzanne.robson@nhs.scot,,,,"Dumfries, Scotland, United Kingdom",Hospital & Health Care,Sent Vaccine Fridges Blog,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,id.396013477,2021/03/03 10:18:47,https://www.linkedin.com/in/jennifer-ward-5717...,https://www.linkedin.com/sales/people/ACwAABea...,,1,Jennifer,,Ward,257,...,http://www.nhs.uk/,jennytmg@hotmail.com,,,,Greater Bournemouth Area,Medical Practice,🦆-default-invited|Sent Vaccine Fridges Blog,NaN,NaN
507,id.65845364,2021/03/03 10:20:10,https://www.linkedin.com/in/kate-mcrae-b580741a,https://www.linkedin.com/sales/people/ACwAAAPs...,,1,Kate,,Mcrae,13,...,http://www.nhs.uk/,katemcrae@hotmail.co.uk,,,,Greater Southampton Area,Hospital & Health Care,🦆-default-invited|Sent Vaccine Fridges Blog,NaN,NaN
558,id.686357119,2021/03/03 18:34:05,https://www.linkedin.com/in/kimberley-corley-4...,https://www.linkedin.com/sales/people/ACoAACjo...,https://media-exp1.licdn.com/dms/image/C4E03AQ...,1,Kimberley,,Corley,568,...,http://www.nhs.uk/,kimberley03@live.co.uk,,,,"Manchester, England, United Kingdom",Hospital & Health Care,Sent Vaccine Fridges Blog,NaN,NaN
609,id.686264258,2021/03/04 14:55:52,https://www.linkedin.com/in/kirsty-siddall-802...,https://www.linkedin.com/sales/people/ACwAACjn...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Kirsty,,Siddall,376,...,http://www.helpinghandshomecare.co.uk,kirstysid@hotmail.com,,,,"Doncaster, England, United Kingdom",Individual & Family Services,🦆-default-invited|Sent Vaccine Fridges Blog|do...,NaN,NaN
610,id.173768451,2021/03/04 14:56:48,https://www.linkedin.com/in/christina-mccutche...,https://www.linkedin.com/sales/people/ACwAAApb...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Christina,,Mccutcheon,173,...,http://www.nes.scot.nhs.uk,christina.mccutcheon4@nhs.scot,0141 531 6030,,,Greater Glasgow Area,Hospital & Health Care,🦆-default-invited|Sent Vaccine Fridges Blog,NaN,NaN

In [45]:
cities=first.groupby('Location')['Degree'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(10)

In [46]:
cities

                                  Location  count
43         London, England, United Kingdom     14
73                          United Kingdom      9
47     Manchester, England, United Kingdom      4
44          Luton, England, United Kingdom      3
37                    Greater Swansea Area      3
35                 Greater Portsmouth Area      3
76  West Midlands, England, United Kingdom      3
25                   Greater Brisbane Area      2
3                                Australia      2
29                  Greater Edinburgh Area      2

In [49]:
industry=first.groupby('Industry')['Degree'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(5)

In [50]:
industry

                        Industry  count
9         Hospital & Health Care     63
14              Medical Practice     30
7   Health, Wellness and Fitness      9
0                                     2
4           Education Management      2

In [53]:
company=first.groupby('Company')['Degree'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(5)

In [54]:
company

                         Company  count
47                           NHS     26
26                   GP Practice      7
50                   NHS England      4
46                      Myhealth      2
0   Active Orthopaedics Adelaide      1

In [37]:
title=first.groupby('Title')['Degree'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(10)

In [38]:
title

                                  Title  count
26                     Practice Manager     71
1            Assistant Practice Manager      3
5             Business Practice Manager      3
8                   GP Practice Manager      3
3                      Business Manager      2
14                     Managing Partner      2
0               Advanced Practice Nurse      1
30            Practice Manager Director      1
25            Practice Development Lead      1
27  Practice Manager - Development Lead      1